#currentTempText {
  font-weight: bolder;
  font-size: 18px;
}

#smallHR{
  width: 250px;
}
#settingsPane {
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px solid red;
}

#submit{
  margin: 10px;
}

#postal-code {
    margin: 10px;

}

#p1, #p2, #p3, #p4, #p5{
    margin-bottom: 50px;
}

input[type=number] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#invalid {
  color: red;
}
